    <header>
        <div class="title">
          <h1>techUP</h1>
          <p>The best way to keep UP in tech!</p>   
        </div>
        
    <nav>
        <a href="/">Home</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/login">Login</a>
    </nav>
    </header>

    {{!-- https://www.w3schools.com/howto/howto_css_form_icon.asp --}}

<form class="login" method="POST" action="/login">
{{!-- <form action="/action_page.php"> --}}
  <h2 class="login">Login</h2>
 
  <div class="input-container">
    {{!-- <i class="fa fa-envelope icon"></i> --}}
    <input class="input-field" type="text" placeholder="Email" name="email">
  </div>

  <div class="input-container">
    {{!-- <i class="fa fa-key icon"></i> --}}
    <input class="input-field" type="password" placeholder="Password" name="password">
  </div>

  <button type="submit" class="btn">Login</button>
</form>