    <header>
        <div class="title">
          <h1>techUP</h1>
          <p>The best way to keep UP in tech!</p>   
        </div>
        
    <nav>
        <a href="/">Home</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/login">Login</a>
    </nav>
    </header>

<h2 class="logout-text">You have successfully logged out!</h2>
