:root {
    --darkest: #2C3333;
    --darker: #395B64; 
    --lighter: #A5C9CA;
    --lightest: #E7F6F2;
} 

* {
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

nav a {
    color: var(--lightest);
}

body {
    background-color: var(--darkest);
}

header {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    background-color: var(--darker);
    padding: 20px;
    margin-bottom: 30px;
}

.posts-body a{
    color: var(--darkest);
    text-decoration: none;
}

.title {
    color: var(--lightest);
}

nav a {
    margin-left: 5px;
}

.posts-body {
    background-color: var(--darker);
    width: 75%;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
}

.post-wrapper{
    border: 5px solid var(--darkest);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

.post-title-and-info {
    background-color: var(--lighter);
    display: flex;
    justify-content: space-between;
    padding: 5px;
    /* border-radius: 5px; */
}

.post-content {
    background-color: var(--lightest);
    padding: 10px;
}


.login {
    margin: auto;
    width: 30%;
}

.login {
    color: var(--lightest);
    text-align: center;
    padding: 15px;
}
/* https://www.w3schools.com/howto/howto_css_form_icon.asp */

* {box-sizing: border-box;}

/* Style the input container */
.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

/* Style the form icons */
/* .icon {
  padding: 10px;
  background: var(--darker);
  color: white;
  min-width: 50px;
  text-align: center;
} */

/* Style the input fields */
.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid var(--darker);
}

/* Set a style for the submit button */
.btn {
  background-color: var(--darker);
  color: var(--lightest);
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

.timestamp {
    text-align: right;
    color: var(--lightest);
    padding-bottom: 20px;
}

.h3-comments {
    color: var(--lightest);
    margin-bottom: 5px;
    padding-top: 20px;
}

textarea {
    width: 100%;
    padding: 10px;
}

.post-btn {
    margin-top: 10px;
    padding: 4px;
    width: 50px;
}

.post-content {
    color: var(--darkest);
}

.comments {
    /* border: 5px solid var(--darkest); */
    color: var(--lightest);
    border-top: 2px solid var(--lightest);
    padding-top: 20px;
}

.comments h3 {
    padding-bottom: 10px;
}

.comment-content {
    background-color: var(--lightest);
    color: var(--darkest);
    margin-bottom: 30px;
    border-radius: 5px;
}

.comment-wrapper h3 {
    border-top: 2px solid var(--lightest);
}

a h5 {
    text-decoration: none;
}

.welcome {
    color: var(--lightest);
}

.make-a-post-wrapper {
    margin: 20px;
}

.reg-h2 {
    color: var(--lightest);
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}

.comment-form {
    width: 90%;
    margin: auto;
}

.just-comment {
    /* margin-bottom: 20px; */
    background-color: var(--lighter);
    padding: 15px;
    border-radius: 5px;
}

.comment-data {
    display: flex;
    justify-content: space-between;
    font-size: small;
    padding: 10px 20px 10px 20px
}

.blog-form {
    width: 70%;
    margin: auto;
}

.logout-text {
    color: var(--lightest);
    text-align: center;
}